<div class="row">
    <div class="col-md-4">
        <h4>Trang đặt tour du lịch Vokala</h4>
    </div>
    <div class="col-md-4">
        <h5>Danh sách sinh viên</h5>
        <ul class="list-unstyled text-small">
            <li>Tên: Võ Kim Hằng</li>
            <li>MSSV: 18086311</li>
            <li>Email: vokimhang170300@gmail.com</li>
            <li>
                <hr />
            </li>
            <li>Tên: Thái Đoàn Mai Phương</li>
            <li>SĐT: 18086291</li>
            <li>Email: mphuong2042@gmail.com</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>Liên kết</h5>
        <ul class="list-unstyled text-small">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Zalo</li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul class="list-unstyled text-small">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </ul>
    </div>
</div>